textarea {
    min-height: 40vh;
    margin-bottom: 1rem;
}

.list-row {
    border: solid black 1px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.message-address {
    font-weight: bold;
}

.list-timestamp {
    float: right;
    color: dimgray;
}

.read {
    background-color: #ebebeb;
}

.body {
    margin-top: 2rem;
    background-color: #f7f7f7;
    padding: 2rem;
}

.mailbox-button {
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.container {
    margin-bottom: 2rem;
}

.action-buttons {
    /* This parent element floats right, so the elements below slide upward */
    float: right;
    /* The child elements are aligned to the right */
    display: flex;
    flex-direction: row-reverse;
}