textarea {
    min-height: 400px;
    margin-bottom: 1rem;
}

.message-row {
    border: solid black 1px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.from,
.to {
    font-weight: bold;
}

.timestamp{
    float: right;
    color: dimgray;
}

.read {
    background-color: #ebebeb;
}

.body {
    margin-top: 2rem;
}

.mailbox-button {
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.container {
    margin-bottom: 2rem;
}


/* TEMP FOR DEVELOPMENT */
.dev {
    color: red;
    size: 3rem;
}