textarea {
    min-height: 400px;
}

.message-row {
    border: solid black 1px;
    padding: 0.3rem;
}

.from {
    font-weight: bold;
}

.timestamp{
    float: right;
    color: dimgray;
}

.read {
    background-color: lightgray;
}


/* TEMP FOR DEVELOPMENT */
.dev {
    color: red;
    size: 3rem;
}